{% extends 'notes_app/base.html' %}

{% block content %}
{% load static %}
	<link rel="stylesheet" media="all" href="{% static 'notes_app/css/style.css' %}" type="text/css">
	
<p><a class='link' href="{% url 'notes_app:topic' topic.id %}">< Back to {{ topic }}</a></p>

<p class='text'>Edit note:</p>

<form class='center_text' action="{% url 'notes_app:edit_entry' entry.id %}" method='post'>
	{% csrf_token %}
	{{ form.as_p }}
	<button class='submit' name="submit">Save Changes</button>
</form>

{% endblock content %}