{% extends 'notes_app/base.html' %}
{% block content %}
{% load static %}
	<link rel="stylesheet" media="all" href="{% static 'style.css' %}" type="text/css">
	{% if user.is_authenticated %}
		<p class='text'>Welcome, {{ user.username }}!</p>
		<a class='link' href="{% url 'notes_app:topics' %}">Your Topics</a>
		<a id='logout_link' href="{% url 'users:logout' %}">Log Out</a>
	{% else %}
		<p id='index_text'>Hi there! This webapp created to store online notes and topics here. Also there are system of registration, logging, email-confirmation, topics creation/deletion, notes for every topic creation/editing/deliting.</p>
		<p id='buttons'>
			<a class='buttons' href="{% url 'users:login' %}">Log In</a>
			<a class='buttons' href="{% url 'users:register' %}">Sign Up</a>
		</p>
	{% endif %}

{% endblock content %}
