{% extends 'notes_app/base.html' %}
{% block content %}
{% load static %}
<link rel="stylesheet" media="all" href="{% static 'notes_app/css/base.css' %}" type="text/css">
<link rel="stylesheet" media="all" href="{% static 'notes_app/css/index.css' %}" type="text/css">
	{% if user.is_authenticated %}
		<p id='welcome_text'>Welcome, {{ user.username }}!</p>
		<a class='topics_link' href="{% url 'notes_app:topics' %}">Your Topics</a>
		<a id='logout_link' href="{% url 'users:logout' %}">Log Out</a>
	{% else %}
		<p id='index_text'>Hi there! This webapp created for people who want to store their notes online. But it not only notes. You have a possibility to create a theme’s (e.g. Programming),
		and milestones (e.g. Learn Basics, Create calculator).</p>
		<p id='buttons'>
			<a class='buttons' href="{% url 'users:login' %}">Log In</a>
			<a class='buttons' href="{% url 'users:register' %}">Sign Up</a>
		</p>
	{% endif %}

{% endblock content %}
