{% extends 'notes_app/base.html' %}
{% block content %}
{% load static %}
	<link rel="stylesheet" media="all" href="{% static 'notes_app/css/style.css' %}" type="text/css">
<a class='link' href='{% url "notes_app:topics"  %}'>< Back to Topics</a><br />
<p class='text'>Name Your Topic:</p>
<form class='center_text' action="{% url 'notes_app:new_topic' %}" method='post'>
	<div class='form'>
			{% csrf_token %}
			{{ form.as_p }}
	</div>
<button class='submit' name="submit">Add topic</button>
</form>
{% endblock content %}