{% extends 'notes_app/base.html' %}

{% block content %}
{% load static %}
	<link rel="stylesheet" media="all" href="{% static 'style.css' %}" type="text/css">

<p><a class='link' href="{% url 'notes_app:topic' topic.id %}">< To {{ topic }} Topic</a></p>

<p class='text'>Add a new note:</p>
<form class='center_text' action="{% url 'notes_app:new_entry' topic.id %}" method='post'>
		{% csrf_token %}
		{{ form.as_p }}
<button class='submit' name='submit'>Add note</button>
</form>

{% endblock content %}