{% extends 'notes_app/base.html' %}
{% block content %}
{% load static %}
<link rel="stylesheet" media="all" href="{% static 'login.css' %}" type="text/css">
<div id='login'>Log In</div>
	<div class='wrapper'>
		<div class='form'>
			{% if form.errors %}
			<p>Your username and password didn't match. Please try again.</p>
			{% endif %}
			
			<form method="post" action="{% url 'users:login' %}">
			{% csrf_token %}
			{{ form.as_p }}

			<div class='fields'>
				<button class='submit' name="submit">Submit</button>
			</div>
			<input type="hidden" name="next" value="{% url 'notes_app:index' %}" />
			</form>
		</div>
	</div>

{% endblock content %}