{% extends 'notes_app/base.html' %}

{% block content %}
{% load static %}
<link rel="stylesheet" media="all" href="{% static 'notes_app/css/login.css' %}" type="text/css">
<div id='login'>Sign Up</div>
	<div class='wrapper'>
		<div class='form'>

			<form method="post" action="{% url 'users:register' %}">
				{% csrf_token %}
				{{ form.as_p }}

				<div id='center_button'>
					<button class='submit' name="submit">Register</button>
				</div>
				<input type="hidden" name="next" value="{% url 'notes_app:index' %}" />
			</form>
		</div>
	</div>

{% endblock content %}
