#index_text, #russian, #english, #belarus, .buttons {
	font-family: 'PT Sans';
}

#logo {
	display: block;
    margin: 0 auto;
    max-width: 250px;
}

#logo:hover {
	background-image: url('img/logo_back.svg');
}

#index_text {
	text-align: center;
	margin: 0 15%;
}

#buttons {
	display: block;
	text-align: center;
  	padding: 15px 0;
}

.buttons {
	color: white;
	background-color: black;
	font-weight: bold;
	text-decoration: none;
	padding: 8px 25px;
	margin: 10px;
}

.buttons:hover {
	color: black;
	background-color: white;
	outline: 1px solid;
}

#russian, #english, #belarus {
	font-style: italic;
	text-decoration: none;
	color: black;
}

#russian {
	padding: 15px;
}

#english {
	padding: 15px;	
}

#belarus {
	padding: 15px;	
}

#languages {
	display: block;
	text-align: center;
  	padding: 15px 0;
}