#welcome_text, .topics_link, #logout_link {
	font-family: 'PT Sans';
}

#welcome_text {
	font-weight: bold;
	text-align: center;
}

.topics_link {
	color: white;
	background-color: black;
	font-weight: bold;
	text-decoration: none;
	padding: 8px 25px;
	font-size: 20;
	display: block;
	text-align: center;
    margin: 0 35%;
}

.topics_link:hover {
	color: black;
	background-color: white;
	outline: 1px solid;
}

#logout_link {
	color: black;
	text-decoration: none;
	display: block;
	text-align: center;
    margin: 0 35%;
    padding: 20px;
    font-weight: bold;
}

#logout_link:hover {
	text-decoration: line-through;
}